<section class="section about-section">
    <div class="container">
        <h2>About Me</h2>
        <div class="card wide">
            <p>
                Motivated and detail-oriented <span class="highlight">Applied Mathematics and Statistics graduate</span>
                with
                hands-on Data Science internship experience.
                Passionate about transforming complex data into meaningful insights using
                <span class="highlight">Python, SQL, visualization, and statistical analysis</span>.
            </p>
        </div>
    </div>
</section>