<header class="hero">
    <div class="hero-content">
        <img src="assets/manelisi.png" alt="Profile Photo" class="profile-img">
        <div class="text-content">
            <h1>Manelisi Ncwaba</h1>
            <h2>Data Science Intern</h2>
            <p class="tagline">BSc Applied Mathematics & Statistics Graduate</p>
            <p class="roles">Data Analyst • Business Analyst • Junior Data Scientist</p>
            <a href="assets/Manelisi%20Ncwaba_cv.pdf" download="Manelisi_Ncwaba_Resume.pdf" class="cta-button">Download
                CV</a>
        </div>
    </div>
</header>