<section class="section education-section">
    <div class="container">
        <h2>Education & Professional Development</h2>
        <div class="education-grid">
            <div class="card">
                <h3>BSc Applied Mathematics & Statistics</h3>
                <p>University of KwaZulu-Natal</p>
            </div>

            <div class="card">
                <h3>Design Thinking Practitioner</h3>
                <p>NQF Level 4 (In Progress)</p>
                <p class="small">User-centered problem solving • Ideation • Collaboration</p>
            </div>

            <div class="card">
                <h3>Full Stack Development</h3>
                <p>FNB App Academy(Short course)</p>
                <p>Learned the basics of HTML and CSS to create simple, responsive web pages and layouts.</p>
            </div>
        </div>
    </div>
</section>